#Used to encrypt passwords in the database. This has a strict format and must be generated using Fernet. See the README for more details.
ENCRYPTION_KEY=

#Used to cryptographically sign sensitive data such as sessions and tokens. This does not have a strict format and could, for example, be generated as a 256-bit key in Keypass.
FLASK_KEY=

#Used to connect to Radius server
RADIUS_SECRET=
RADIUS_IP=
RADIUS_NAS=

#Used to connect to Database
DB_USER=
DB_PW=
DB_IP=
DB_PORT=

#Used for setup and uninstall script
PATHCERT=
PATHPRIVATEKEY=
DOMAIN=
# 2 x CPU-Cores + 1
WORKER=9
